[Unit]
Description=OpenAuto Prodigy System Manager
Before=openauto-prodigy.service
After=network.target bluetooth.target

[Service]
Type=notify
ExecStart=/home/matt/openauto-prodigy/system-service/.venv/bin/python3 /home/matt/openauto-prodigy/system-service/openauto_system.py
WorkingDirectory=/home/matt/openauto-prodigy/system-service
RuntimeDirectory=openauto
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
