polkit.addRule(function(action, subject) {
    if (action.id === "org.bluez.request-default-agent" &&
        subject.isInGroup("bluetooth")) {
        return polkit.Result.YES;
    }
});
