polkit.addRule(function(action, subject) {
    var timedateActions = [
        "org.freedesktop.timedate1.set-time",
        "org.freedesktop.timedate1.set-timezone"
    ];
    if (timedateActions.indexOf(action.id) !== -1 &&
        subject.isInGroup("bluetooth")) {
        return polkit.Result.YES;
    }
});
