interface={interface}
driver=nl80211
ssid={ssid}
hw_mode={band}
channel={channel}
ieee80211n=1
ieee80211ac=1
wmm_enabled=1
country_code={country_code}
ieee80211d=1
macaddr_acl=0
auth_algs=1
ignore_broadcast_ssid=0
wpa=2
wpa_passphrase={password}
wpa_key_mgmt=WPA-PSK
rsn_pairwise=CCMP
